*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 500px;
    margin: auto;
    margin-top: 45px;
    height: 80vh;
    position: relative;
}

.container h2 {
    text-align: center;
}

.container .cardNum {
    display:flex;
    justify-content: center;
    padding-top: 200px;
}

.container .secondRow {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-left: 60px;
}

.container .errorMsg {
    color:red;
    position: absolute;
    left: 200px;
    font-size: 12px;
    font-weight: bold;
}

.container .secondRow .expiry {
    padding-left: 20px;
}

.container .button {
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

 @media(min-width:300px) and (max-width:414px) {
        
    .container .errorMsg {
         left:100px;   
        }
}